script(src='#{realativePath}libs/angular/angular.min.js')
script(src='#{realativePath}libs/angular-route/angular-route.min.js')

script(src='#{realativePath}js/controllers/MainCtrl.js')
script(src='#{realativePath}js/controllers/NerdCtrl.js')
script(src='#{realativePath}js/services/NerdService.js')
script(src='#{realativePath}js/controllers/GeekCtrl.js')
script(src='#{realativePath}js/services/GeekService.js')
script(src='#{realativePath}js/appRoutes.js')
script(src='#{realativePath}js/app.js')